@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');
:root {
  --main-color: #272B30;
  --secondary-color: #49ACFF;
  --main-padding: 72px;
}
body {
  background-color: var(--main-color) !important;
  font-family: 'Cairo', sans-serif;
}